.treeview span:hover {
    cursor: pointer;
}
.file {
    content: url(../images/icon_file1.png);
    height: 10px;
}
.folder {
    content: url(../images/icon_folder1.png);
    width: 10px;
}
li, ul {
    list-style-type: none;
    padding-left: 0.5em;
}
.directory {
    overflow-x: scroll;
}
